<% if !club.banneduser.include?(current_user.id) %>
  <% if club.userlist.include?(current_user.id) %>
	  <tr onclick="window.location.href = '<%= club_path(club) %>'" style="cursor: pointer">
  <% else %>
  	<tr>
  <% end %>
    <td><%= club.name %></td>
    <td width="30%"><%= club.description %></td>
    <td><%= club.location %></td>
    <td style="text-align: center"><%= if club.listed? then "Public" else "Members Only" end %></td>
    <td style="text-align: center">
    <% if !club.userlist.include?(current_user.id) %>
      <% if club.listed? %>
	  	  <%= link_to 'Join', joinclub_club_path(club), :class => "btn btn-info" %>
	  	<% else %>
	  	  <%= link_to 'Apply', joinclub_club_path(club), data: { confirm: 'The administrator will receive an email and have to approve your membership. Apply to join ' + club.name + '?' }, :class => "btn btn-info" %>
	  	<% end %>
    <% else %>
	    <%= link_to 'Enter', club, :class => "btn btn-primary" %>
    <% end %>
    <% if current_user.admin? %>
    	<%= link_to 'Delete Club', club, method: :delete, data: { confirm: 'Are you sure? This will delete the entire club, all users&lsquo; gear will remain.' }, :class => "btn btn-danger" %>
    <% end %>
    <%= link_to (content_tag :i, "", class: "icon-flag", :title => 'Report Abuse'), reportabuse_club_path(club), data: { confirm: 'Are you sure you want to report this club as abusive?' }, class: "pull-right" %>
    </td>
  </tr>
<% end %>