<p>Hello <%= @club.name %> admin,</p>

<p><%= @user.name %> has requested membership to <%= @club.name %></p>

<p>You can approve or deny this request on the club <%= link_to 'admin page', edit_club_url(@club) %>.</p>

<p>Thank you for using <%= link_to "Columbia Yak Attack Gear Swap", "http://gearswap.ctrl-r.com" %></p>
