<div class="box">
	
	<%= link_to (image_tag pin.image(:medium)), pin %>
	
	<% if pin.forLoan and pin.forSale and (pin.loans.blank? or !pin.loans.last[:returnedOn].blank?) %>
		<p class="pull-right description"><%= image_tag('swap.png', :size => '19x20', :alt => 'For Loan') + image_tag('buy.png', :size => '20x20', :alt => 'For Sale') %></p>
	<% else %>
		<% if pin.forLoan and (pin.loans.blank? or !pin.loans.last[:returnedOn].blank?) %>
			<p class="pull-right description"><%= image_tag('swap.png', :size => '19x20', :alt => 'For Loan') %></p>
		<% else %>
			<% if pin.forSale and (pin.loans.blank? or !pin.loans.last[:returnedOn].blank?) %>
				<p class="pull-right description"><%= image_tag('buy.png', :size => '20x20', :alt => 'For Sale') %></p>
			<% else %>
				<p class="pull-right description"><%= image_tag('hold.png', :size => '20x20', :alt => 'Item is on hold') %></p>
			<% end %>
		<% end %>
	<% end %>
	
	<p class="description">
		<%= pin.description %>
	</p>
	
	<p class="description">
		<strong>
			Posted by <%= link_to pin.user.name, pin.user %>
		</strong>
	</p>
	
	<% if !current_user.blank? %>
		<% current_user.admin ||= false %>
		<% current_user.save %>
		<% if current_user == pin.user %>  
			<p>
				<%= link_to 'Edit', edit_pin_path(pin) %> | 
				<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
			</p>
		<% else %>
			<% if current_user.admin == true %>
				<p>
					<%= link_to 'Edit', edit_pin_path(pin) %> | 
					<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
				</p>
			<% end %>
		<% end %>
	<% end %>
</div>