<div class="row">
  <div class="span6 offset3">
  	<div class="well">
			<p align="center"><%= image_tag @pin.image %></p>
			
			<% if @pin.forLoan and @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
				<p class="pull-right description"><%= image_tag('swap.png', :size => '19x20', :title => 'For Loan') + image_tag('buy.png', :size => '20x20', :title => 'For Sale') %></p>
			<% else %>
				<% if @pin.forLoan and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
					<p class="pull-right description"><%= image_tag('swap.png', :size => '19x20', :title => 'For Loan') %></p>
				<% else %>
					<% if @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
						<p class="pull-right description"><%= image_tag('buy.png', :size => '20x20', :title => 'For Sale') %></p>
					<% else %>
						<p class="pull-right description"><%= image_tag('hold.png', :size => '20x20', :title => 'Item is on hold') %></p>
					<% end %>
				<% end %>
			<% end %>
			
			<p class="description">
			<% if current_user %>
				<% if !current_user.favorites.blank? %>
			  	<% if !current_user.favorites.include?(@pin.id) %>
			  		<%=link_to( image_tag("star-empty.png"), startoggle_pin_path(@pin), :title => 'Favorite') %>
			  	<% else %>
			  		<%=link_to( image_tag("star.png"), startoggle_pin_path(@pin), :title => 'Unfavorite') %>
			  	<% end %>
			  <% else %>
			  	<%=link_to( image_tag("star-empty.png"), startoggle_pin_path(@pin), :title => 'Favorite') %>
			  <% end %>
			<% end %>
			  <%= @pin.description %>
			</p>
			<p class="category">
				<%= @pin.category %>
			</p>
			<p class="postedby">
			  Posted by <%= link_to @pin.user.name, @pin.user %>
			</p>
			
			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
			<% end %>
			<%= link_to 'Back', pins_path %>
		</div>
		
		<% if current_user == @pin.user %>
			<div class="well">
				<p>
					<b>Loans:</b>
					<table class="table table-striped">
                  <thead>
                          <tr>
                              <th>Loaned To</th>
                              <th>Loaned On</th>
                              <th>Returned On</th>
                              <th></th>
                              <th></th>
                          </tr>
                  </thead>
                  <tbody>
                          <%= render @pin.loans %>
                  </tbody>
          </table>
				</p>
				<p>
					<b>Loan Equipment:</b>
					<%= simple_form_for([@pin, @pin.loans.build], html: { class: "form-horizontal"}) do |f| %>
					  <%= f.input :loanedTo, label: "Loaned To" %>
					  <%= f.input :loanedOn, label: "Loaned On" %>
					  
					  <div class="form-actions">
					    <%= f.button :submit, class: "btn btn-primary" %>
					  </div>
					<% end %>
				</p>
			</div>
		<% else %>
		  <% if user_signed_in? %>
				<div class="well" style="text-align: center">
					<% if @pin.forLoan and @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
						<p class="itemStatus">Available for Loan or Sale</p><br />
						<%= link_to "Request Contact", sendrequest_pin_path(@pin), class: "btn btn-primary" %>
						<p class="description">
							<small>The owner of this gear will receive an email with<br />your email address as the Reply-To address.</small>
						</p>
					<% else %>
						<% if @pin.forLoan and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
							<p class="itemStatus">Available for Loan</p>
							<%= link_to "Request Contact", sendrequest_pin_path(@pin), class: "btn btn-primary" %>
							<p class="description">
								<small>The owner of this gear will receive an email with<br />your email address as the Reply-To address.</small>
							</p>
						<% else %>
							<% if @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
								<p class="itemStatus">Available for Sale</p><br />
								<%= link_to "Request Contact", sendrequest_pin_path(@pin), class: "btn btn-primary" %>
								<p class="description">
									<small>The owner of this gear will receive an email with<br />your email address as the Reply-To address.</small>
								</p>
							<% else %>
								<p class="itemStatusHold">This item is on hold.</p>
								<p>
									Please check back later to see if it becomes available.
								</p>
							<% end %>
						<% end %>
					<% end %>
				</div>
			<% else %>
				<div class="well" style="text-align: center">
					<p class="itemStatusHold">You must be logged in to request contact.</p>
				</div>
			<% end %>
		<% end %>
	</div>
</div>