<div class="row">
  <div class="span6 offset3">
  	<div class="well">
			<%= image_tag @pin.image %>
			<p>
			  <%= @pin.description %>
			</p>
			<p>
			  <%= @pin.user.name %>
			</p>
			<% if current_user == @pin.user %>
				<% if @pin.forLoan and @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
					<p style="color: green">For: Loan or Sale</p>
				<% else %>
					<% if @pin.forLoan and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
						<p style="color: green">For: Loan</p>
					<% else %>
						<% if @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
							<p style="color: green">For: Sale</p>
						<% else %>
							<p style="color: red">Item is on hold </p>
						<% end %>
					<% end %>
				<% end %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
			<% end %>
			<%= link_to 'Back', pins_path %>
		</div>
		
		<% if current_user == @pin.user %>
			<div class="well">
				<p>
					<b>Loans:</b>
					<table class="table table-striped">
                  <thead>
                          <tr>
                              <th>Loaned To</th>
                              <th>Loaned On</th>
                              <th>Returned On</th>
                              <th></th>
                              <th></th>
                          </tr>
                  </thead>
                  <tbody>
                          <%= render @pin.loans %>
                  </tbody>
          </table>
				</p>
				<p>
					<b>Loan Equipment:</b>
					<%= simple_form_for([@pin, @pin.loans.build], html: { class: "form-horizontal"}) do |f| %>
					  <%= f.input :loanedTo, label: "Loaned To" %>
					  <%= f.input :loanedOn, label: "Loaned On" %>
					  
					  <div class="form-actions">
					    <%= f.button :submit, class: "btn btn-primary" %>
					  </div>
					<% end %>
				</p>
			</div>
		<% else %>
			<div class="well">
				<% if @pin.forLoan and @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
					<p class="itemStatus">Available for Loan or Sale</p>
				<% else %>
					<% if @pin.forLoan and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
						<p class="itemStatus">Available for Loan</p>
					<% else %>
						<% if @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
							<p class="itemStatus">Available for Sale</p>
						<% else %>
							<p class="itemStatusHold">This item is on hold.</p>
						<% end %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>