<div class="row">
  <div class="span6 offset3">
  	<div class="well">
			<%= image_tag @pin.image %>
			<p>
			  <%= @pin.description %>
			</p>
			<p>
			  <strong>
					Posted by <%= link_to @pin.user.name, @pin.user %>
				</strong>
			</p>
			<% if current_user == @pin.user %>
				<% if @pin.forLoan and @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
					<p style="color: green; font-weight: bold">For: Loan or Sale</p>
				<% else %>
					<% if @pin.forLoan and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
						<p style="color: green; font-weight: bold">For: Loan</p>
					<% else %>
						<% if @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
							<p style="color: green; font-weight: bold">For: Sale</p>
						<% else %>
							<p style="color: red; font-weight: bold">Item is on hold </p>
						<% end %>
					<% end %>
				<% end %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
			<% end %>
			<%= link_to 'Back', pins_path %>
		</div>
		
		<% if current_user == @pin.user %>
			<div class="well">
				<p>
					<b>Loans:</b>
					<table class="table table-striped">
                  <thead>
                          <tr>
                              <th>Loaned To</th>
                              <th>Loaned On</th>
                              <th>Returned On</th>
                              <th></th>
                              <th></th>
                          </tr>
                  </thead>
                  <tbody>
                          <%= render @pin.loans %>
                  </tbody>
          </table>
				</p>
				<p>
					<b>Loan Equipment:</b>
					<%= simple_form_for([@pin, @pin.loans.build], html: { class: "form-horizontal"}) do |f| %>
					  <%= f.input :loanedTo, label: "Loaned To" %>
					  <%= f.input :loanedOn, label: "Loaned On" %>
					  
					  <div class="form-actions">
					    <%= f.button :submit, class: "btn btn-primary" %>
					  </div>
					<% end %>
				</p>
			</div>
		<% else %>
			<div class="well" style="text-align: center">
				<% if @pin.forLoan and @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
					<p class="itemStatus">Available for Loan or Sale</p><br />
					<%= link_to "Request Contact", sendrequest_pin_path(@pin), class: "btn btn-primary" %>
					<p>
						<small>The ower of this pin will receive an email with<br />your email address as the Reply-To address.</small>
					</p>
				<% else %>
					<% if @pin.forLoan and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
						<p class="itemStatus">Available for Loan</p>
						<%= link_to "Request Contact", sendrequest_pin_path(@pin), class: "btn btn-primary" %>
						<p>
							<small>The ower of this pin will receive an email with<br />your email address as the Reply-To address.</small>
						</p>
					<% else %>
						<% if @pin.forSale and (@pin.loans.blank? or !@pin.loans.last[:returnedOn].blank?) %>
							<p class="itemStatus">Available for Sale</p><br />
							<%= link_to "Request Contact", sendrequest_pin_path(@pin), class: "btn btn-primary" %>
							<p>
								<small>The ower of this pin will receive an email with<br />your email address as the Reply-To address.</small>
							</p>
						<% else %>
							<p class="itemStatusHold">This item is on hold.</p>
							<p>
								Please check back later to see if it becomes available.
							</p>
						<% end %>
					<% end %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>