<tr>
  <td><%= loan.loanedTo %></td>
  <td><%= loan.loanedOn %></td>
  <td><%= loan.returnedOn %></td>
  <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
  <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>