<h1>Loans Listing for <%= current_user.name %></h1>

<table class="table table-striped">
	  <thead>
		  <tr>
		    <th>Gear</th>
		    <th><%= sortable "loanedto", "Loaned To" %></th>
		    <th><%= sortable "loanedon", "Loaned On" %></th>
		    <th><%= sortable "returnedon", "Returned On" %></th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
	  <tbody>
			<% @loans.each do |loan| %>
			  <tr>
			    <td><%= link_to loan.pin.description, pin_path(loan.pin) %></td>
			    <td><%= loan.loanedto %></td>
			    <td><%= loan.loanedon %></td>
			    <td><%= loan.returnedon %></td>
			    <td><%= link_to (content_tag :i, "", class: "icon-edit", :title => 'Edit'), edit_loan_path(loan), class: "btn" %></td>
			    <td><%= link_to (content_tag :i, "", class: "icon-trash", :title => 'Delete'), loan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
			  </tr>
			<% end %>
		</tbody>
</table>

<br />