<h1>Loans Listing for <%= current_user.name %></h1>

<table class="table table-striped">
	  <thead>
		  <tr>
		    <th>Loaned To</th>
		    <th>Loaned On</th>
		    <th>Returned On</th>
		    <th>Gear</th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
	  <tbody>
			<% @loans.each do |loan| %>
			  <tr>
			    <td><%= loan.loanedTo %></td>
			    <td><%= loan.loanedOn %></td>
			    <td><%= loan.returnedOn %></td>
			    <td><%= link_to loan.pin.description, pin_path(loan.pin) %></td>
			    <td><%= link_to (content_tag :i, "", class: "icon-edit", :title => 'Edit'), edit_loan_path(loan), class: "btn" %></td>
			    <td><%= link_to (content_tag :i, "", class: "icon-trash", :title => 'Delete'), loan, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %></td>
			  </tr>
			<% end %>
		</tbody>
</table>

<br />