<p id="notice"><%= notice %></p>

<p>
  <b>Loanedto:</b>
  <%= @loan.loanedto %>
</p>

<p>
  <b>Loanedon:</b>
  <%= @loan.loanedon %>
</p>

<p>
  <b>Returnedon:</b>
  <%= @loan.returnedon %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back to Pins', pins_path %>
