<div class="row">
  <div class="span6 offset3">
  	<div class="well">
  		<%= image_tag @pinimage.image %>
			<p>
			  <%= @pinimage.caption %>
			</p>
				<%= link_to (content_tag :i, "", class: "icon-edit"), edit_pinimage_path(@pinimage), :class => "btn" %>
				<%= link_to (content_tag :i, "", class: "icon-arrow-left"), :back, :class => "btn" %>
				<%= link_to (content_tag :i, "", class: "icon-trash"), @pinimage, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn pull-right" %>
		</div>
  </div>
</div>
