<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "Columbia Yak Attack Gear Swap", root_path, class: "brand" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
        	<li><%= link_to "All", root_path %></li>
        	<li><%= link_to (image_tag('swap.png', :size => '19x20') + " Borrow"), showforloan_path %></li>
        	<li><%= link_to (image_tag('buy.png', :size => '20x20') + " Buy"), showforsale_path %></li>
					<li><%= link_to "About", about_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to "Add Gear +", new_pin_path %></li>
						<li class="dropdown">
							<%= link_to (current_user.name + content_tag(:b, "", class: "caret")).html_safe, "#", {class: "dropdown-toggle", :id => "drop1", :"data-toggle" => "dropdown" } %>
							<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to "Edit Account", edit_user_registration_path %></a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to "View User Profile", user_path(current_user) %></a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><%= link_to "Logout", destroy_user_session_path, method: :delete %></a></li>
              </ul>
             </li>
					<% else %>
			        	<li><%= link_to "Login", new_user_session_path %></li>
			        <% end %>
				</ul>
      </div>
 
    </div>
  </div>
</div>